{% extends 'base.html' %}

{% block content %}
    <div id="wrapper">
        <h2 id = 'title'>Topic Survey Dashboard</h2>
        <a id= 'addTopic' href="{% url 'addTopic' %}">Add a Topic</a>
        {% if topics %}
            <ul>
                {% for topic in topics %}
                    <li>
                        <a id= 'topicSearch' href="{% url 'topic_detail' topic.id %}">{{ topic.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
        <p id = "message">No topics yet.</p>
        {% endif %}
    </div>
{% endblock %}